/* Landing Page CSS */
body{
    /* background-color: grey; */
        /* background-color: grey; */
        background-image: url(../photo/metalic.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0;
        background-attachment: fixed;
        color: rgb(190, 190, 190);
    
}

nav{
    background-color:black;
    box-shadow: 3px 3px 5px rgba(148, 8, 150, 0.704);
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: rgb(162, 12, 192);
}
aside{
    float: right;
}
#logos{
    height: 6rem;
  align-items:center
}
footer{
    background-image: url(./photo/star.jpg);
    display: flex;
    background-size:contain;
    background-repeat:repeat-x;
    height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#login {
    max-width: 20rem;
}

#login label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    color: black;
}
.centered {
    margin: auto;
    margin-top: 3rem;
    box-shadow: 1rem 1rem 1rem;
    border: 1rem solid rgba(7, 7, 7, 0.984);
}
#loginButton{
    margin: auto;
    display: flex;
    justify-content: center;
}
#username{
    margin: auto;
    display: flex;
    justify-content: center;
}
#password{
    margin: auto;
    display: flex;
    justify-content: center;
}
h1{
    color: white;
}
#loginButton:hover{
    background-color: rgb(162, 12, 192);
}
#welEle{
    color: black;
}